WebApp/Connected Services/WordCountServiceReference/WordCountService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62932/WordCountService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="c2f">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="c2fResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="c2fResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="file" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WordCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WordCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>